
R_tools/
Boite_a_outils_cache/
.Rproj.user/208E3526/pcs/files-pane.pper
.Rproj.user/208E3526/pcs/source-pane.pper
.Rproj.user/208E3526/pcs/windowlayoutstate.pper
.Rproj.user/208E3526/pcs/workbench-pane.pper
.Rproj.user/208E3526/rmd-outputs
.Rproj.user/208E3526/saved_source_markers
.Rproj.user/208E3526/sources/per/t/BAE06C7B
.Rproj.user/208E3526/sources/per/t/BAE06C7B-contents
.Rproj.user/208E3526/sources/prop/00FAE5F0
.Rproj.user/208E3526/sources/prop/337744C3
.Rproj.user/208E3526/sources/prop/3AE35C37
.Rproj.user/208E3526/sources/prop/9A007305
.Rproj.user/208E3526/sources/prop/D24D7AAC
.Rproj.user/208E3526/sources/prop/EF188538
.Rproj.user/208E3526/sources/prop/INDEX
.Rproj.user/shared/notebooks/A43E0324-Boite_a_outils/1/208E35263C906EBA/chunks.json
.Rproj.user/shared/notebooks/A43E0324-Boite_a_outils/1/208E3526A4E60AB3/chunks.json
.Rproj.user/shared/notebooks/A43E0324-Boite_a_outils/1/208E3526DEC3BBE9/chunks.json
.Rproj.user/shared/notebooks/A43E0324-Boite_a_outils/1/s/chunks.json
.Rproj.user/shared/notebooks/A43E0324-Boite_a_outils/1/s/csetup_chunk/000002.csv
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.RData
.Rproj.user
